
<div class="container">
  <form class="form-horizontal" [formGroup]="addUserForm" role="form" (ngSubmit)="onSubmit()">
      <h2>Add User</h2>
      <div class="form-group">
          <label for="fullName" class="col-sm-3 control-label">Full Name*</label>
          <div class="col-sm-9">
              <input [(ngModel)]="localUser.FullName"  type="text"  formControlName="fullName" required minlength="4" autofocus id="fullName" placeholder="Full Name" class="form-control">
              <div *ngIf="addUserForm.controls.fullName.errors!=null&&addUserForm.controls.fullName.errors.minlength">
                      
                      Name must be at least 4 characters long.
                    </div>
          </div>
      </div>
      <div class="form-group">
          <label for="userName" class="col-sm-3 control-label">UserName*</label>
          <div class="col-sm-9">
              <input type="text" id="userName" placeholder="UserName"   class="form-control" [(ngModel)]="localUser.UserName" formControlName="userName" >
          </div>
      </div>
      <div class="form-group">
          <label for="idNumber" class="col-sm-3 control-label">Id Number*</label>
          <div class="col-sm-9">
              <input type="text" id="idNumber" placeholder="idNumber"   class="form-control" [(ngModel)]="localUser.IdNumber" formControlName="idNumber" >
          </div>
      </div>
      <div class="form-group">
          <label for="email" class="col-sm-3 control-label">Email* </label>
          <div class="col-sm-9">
              <input type="email" id="email" placeholder="Email" class="form-control" name= "email" [(ngModel)]="localUser.Email" formControlName="email">
          </div>
      </div>
      <div class="form-group">
          <label for="password" class="col-sm-3 control-label">Password*</label>
          <div class="col-sm-9">
              <input type="password" id="password" placeholder="Password" class="form-control" [(ngModel)]="localUser.Password" formControlName="password">
          </div>
      </div>
      <div class="form-group">
          <label for="confirmPassword" class="col-sm-3 control-label">Confirm Password*</label>
          <div class="col-sm-9">
              <input type="password" id="confirmPassword" placeholder="Password" class="form-control">
          </div>
      </div>
      <div class="form-group">
          <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
          <div class="col-sm-9">
              <input type="date" id="birthDate" class="form-control" [(ngModel)]="localUser.BirthDate" formControlName="birthDate">
          </div>
      </div>
      <!--<div class="form-group">
              <label  class="control-label col-sm-3">Gender*</label>
              <div class="col-sm-9">
      <select class="form-control" id="gender">
              <option value="" disabled selected>Select Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
              </div>
      </div>
  -->

     <div class="form-group">
          <label class="control-label col-sm-3">Gender*</label>
          <div class="col-sm-6">
              <div class="row">
                  <div class="col-sm-4"  >
                      <label class="radio-inline">
                          <input type="radio"  id="male" value="true"name="isMale" [(ngModel)]="localUser.IsMale" formControlName="isMale" checked>Male
                        </label>
                        <label class="radio-inline">
                          <input type="radio" id="female" value="false" formControlName="isMale" [(ngModel)]="localUser.IsMale" name="isMale">Female
                        </label>
                  </div>
              </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">Image Upload</label>
                <div>
                    <input class=" col-sm-2"  type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
                    <img *ngIf="imageUrl" class=" col-sm-4" [src]="imageUrl" style="width:200px;height:200px;display:block;">
                </div>
        
                <button  class="btn btn-default col-sm-2" type="submit"  [disabled]="Image.value==''||!localUser.UserName"> upload image</button>
            
        
        </div>
      </div> <!-- /.form-group -->
      <div class="form-group">
          <div class="col-sm-9 col-sm-offset-3">
              <span class="help-block">*Required fields</span>
          </div>
      </div>
      <button type="submit" [disabled]="loading" (click)="onSubmit()" class="button light-black  btn-block" >Save Changes</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />


  </form> <!-- /form -->
</div> <!-- ./container -->

